<%- include ("./partials/head.ejs",{title:"Login"}) %>
  <body>
    <%- include ("./header.ejs",{loggedin:loggedin}) %>
    <div class="loginbox">
      
      <h1>Log In</h1>
      <form class="w-50 mx-3" action="/users/login" method="POST">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter Username" />
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password" />
        <button class="btn btn-primary my-3" type="submit">Log in</button>
        <br>
        <a href="/users/register">Don't have an account?</a>
      </form>
    </div>

  </body>
</html>
