<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/loginstyle.css" />
  </head>
  <body>
    
    <div class="loginbox">
      <img src="user.png" class="avatar" />
      <h1>Log In</h1>
      <form action="/users/login" method="POST">
        <p>Email</p>
        <input type="email" name="email" placeholder="Enter Username" />
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password" />
        <input type="submit"   />
        <a href="/users/register">Don't have an account?</a>
      </form>
    </div>

  </body>
</html>
